<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>
            Assignment - 2
        </title>
    </head>
    <body>
        <h3>
            Tweet Extraction
        </h3>
        <p>
            Enter Keyword to search Tweet related to keyword <br>
            Enter Location to search tweets from particular location:<br>
            <form action="/result" method="post">
                Keyword: <input type="text" name="keyword">  <br />
                Location: <input type="text" name="location" />
                <input type="submit" name= "form" value="Search" />
            </form>
        </p>
    </body>
</html>
